<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>

</head>


<!-- This page is very dynamic, the user variable is used to render content depending on whether a user is logged in or not, doesNotExist is true or false depending on if the tinyURL exists or not and renders the content below accordingly, the ownsURL variable is true or false depending on whether the user owns or does not own the url and renders content accordingly -->

<body>
  <%- include('partials/_header') %>
  <%
  if (!doesNotExist && user && ownsURL) {
  %>
    <div class="card text-center">
      <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">TinyURL for: <%= longURL %></h5>
          <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
          <form action="/urls/<%= shortURL %>/update?_method=PUT" method="POST">
            <input type="text" name="update" placeholder="Change URL"> 
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
          <p class="card-text">Date Created: <%= date %></p>
          <h5>Visitors: <%= visitors %></h5>
          <h5>Unique Visitors: <%= uniqueVisitors.length %></h5>
          <%
          if (uniqueVisitors.length > 0) {
            %>
          <h5>Visits:</h5>
          <%
          for (let visitor in uniqueVisitors) {
          %>
            <h6><%= uniqueVisitors[visitor].id %>: <%= uniqueVisitors[visitor].date %></h6>
          <%
          }
        }
          %>
        </div>
      <div class="card-footer text-muted"></div>
    </div>
    <%
  }
  if (doesNotExist && user && ownsURL) {
    %>
    <div class="card text-center">
      <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">TinyURL does not exist!</h5>
          <p class="card-text"></a></p>
          <form action="/urls/new" method="GET">
            <button type="submit" class="btn btn-primary">Create!</button>
          </form>
          <p class="card-text"></p>
          <h5></h5>
          <h5></h5>
        </div>
      <div class="card-footer text-muted"></div>
    </div>
    <%
  }
  if (!user) {
    %>
    <div class="card text-center">
      <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">You are not logged in!</h5>
          <p class="card-text"></a></p>
          <form action="/login" method="GET">
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
          <p class="card-text"></p>
          <h5></h5>
          <h5></h5>
        </div>
      <div class="card-footer text-muted"></div>
    </div>
    <%
  }
  if (user && !ownsURL) {
    %>
    <div class="card text-center">
      <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">You do not own this URL!</h5>
          <p class="card-text"></a></p>
          <form action="/urls/new" method="GET">
            <button type="submit" class="btn btn-primary">Make Your Own</button>
          </form>
          <p class="card-text"></p>
          <h5></h5>
          <h5></h5>
        </div>
      <div class="card-footer text-muted"></div>
    </div>
    <%
  }
    %>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
